body {
    background-color: mediumturquoise;
}
.cubitus1,.cubitus2,.cubitus3,.cubitus4,.cubitus5,.cubitus6{
    background-color: rgb(225, 255, 230);
    width: 150px;
    height: 150px;
    border: 2px solid darkorange;
    float: left;
}
.cubitus1{
    background-color: chocolate;
    border-bottom-left-radius: 20em;
    border-top-left-radius: 50em;
    border-bottom-right-radius: 30em;
    border-top-color: palevioletred;
}
.cubitus2{
    background-color: darkgoldenrod;
    border-bottom-left-radius: 50em;
    border-left-style: groove;
    border-bottom-right-radius: 30em;
    border-right-style: solid;
}
.cubitus3{
    background-color: mistyrose;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 10em;
    border-top-right-radius: 2em;
}
.cubitus4{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}
.cubitus5{
    border-bottom-right-radius: 30em;
    border-top-left-radius: 20em;
   
}
.cubitus6{
    background-color: blue;
    border-radius: 50%;
    width: 50%;
}
.clear{
    clear: both;
}
